body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("geometry.png");
}

.drum-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #cecece;
    padding: 2em;
    border-radius: 5px;
    box-shadow: 0px 2px 0px 0px #aeaeae;
    background: #fafafa;
}

.pads {
    display: flex;
    margin-top: 60px;
}

.pads__pad {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-right: 5px;
    width: 75px;
    height: 60px;
    box-sizing: border-box;
    cursor: pointer;
    outline: none;
    border-radius: 3px;
    padding: 0.5em 1em;
    box-shadow: 0px 1px 0px 0px #aeaeae;
    border-width: 1px;
    border-color: #cecece;
    background: #f5f5f5;
}

.pads__pad:nth-child(2),
.pads__pad:nth-child(4),
.pads__pad:nth-child(7),
.pads__pad:nth-child(9),
.pads__pad:nth-child(11) {
    margin-right: -75px;
    position: relative;
    bottom: 65px;
    left: -35px;
}

.pads__pad .sound {
    width: 100%;
    text-align: left;
}

.pads__pad .note {
    flex: 1;
    text-align: left;
}
.pads__pad .key {
    text-align: right;
}

.pads__pad.active {
    border-color: #da8718;
    box-shadow: 0px 0px 0px 0px #aeaeae;
    transform: translateY(2px);
}

.sequencer {
    margin-top: 50px;
}

.sequencer input[type="radio"] {
    cursor: pointer;
}

.sequencer-controls {
    margin-top: 1em;
}
.sequencer-controls button {
    cursor: pointer;
    outline: none;
    background: #f5f5f5;
    border-radius: 3px;
    padding: 0.5em 1em;
    box-shadow: 0px 1px 0px 0px #aeaeae;
    border-width: 1px;
    border-color: #cecece;
}
.sequencer-controls button.active {
    border: 1px solid #da8718;
    box-shadow: 0px 0px 0px 0px #aeaeae;
    transform: translateY(2px);
}

.step-sequencer__border {
    display: flex;
    margin-bottom: 0.25em;
}

.step-sequencer__border div {
    width: 25%;
    height: 2px;
    margin-right: 2px;
    border: 1px solid #ad6b13;
    border-radius: 1px;
    background: #fb9c1d;
}
.step-sequencer__border div:last-child {
    margin-right: 0;
}
